Empresario.ChamaDLLRemota.UI.Web/App_WebReferences/ProxyCliente/Contato1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TB_CLIENTE">
    <xs:sequence>
      <xs:element minOccurs="0" name="DS_EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DS_ENDERECO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_CLIENTE" type="xs:int" />
      <xs:element minOccurs="0" name="NM_CLIENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NR_TELEFONE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_CLIENTE" nillable="true" type="tns:TB_CLIENTE" />
  <xs:complexType name="ArrayOfTB_CLIENTE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_CLIENTE" nillable="true" type="tns:TB_CLIENTE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_CLIENTE" nillable="true" type="tns:ArrayOfTB_CLIENTE" />
</xs:schema>